

.submit1{
    position:absolute;
    border: none;
    color: #ffffff;
    width: 9em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: palevioletred;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    margin-left: -10%;
    
}
.submit1:hover{
    animation: animation 8s linear infinite;
    border: none;
}
@keyframes animation{
    0%{background-position: 0%;}
    100%{background-position: 400%;}
}
.submit1::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: palevioletred;
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
    
}
.submit1:hover::before{
    filter: blur(20px);
}